@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Em kính chào thầy Trịnh Văn Chung ạ</h1>
    <p>Sử dụng liên kết trên thanh tìm kiếm cộng thêm /Admin/Index để đến trang quản trị</a>.</p>
</div>
