@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý người dùng</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Vai trò</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>U001</td>
            <td>Đặng Hoàng Huy</td>
            <td>huy2035@gmail.com</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>U002</td>
            <td>Nguyễn Công Trứ</td>
            <td>truto123@gmail.com</td>
            <td>User</td>
        </tr>
    </tbody>
</table>
